:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #fff;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --special-dark-yellow: #FFC047;
  --basic-title: #32425C;
  --dark-blue: #293449;
  --summer-sky: #F9F5F0;
  --bookmarks: #161D29;
  --button-red-hover: #CA2C37;
  --button-red-active: #BA2732;
  --dark: #000;
  --gray: rgba(255, 255, 255, 0.5);
  --button-header: rgba(0, 0, 0, 0.0001);
  --light-pink: #F7F3EC;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--white);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--white);
}

.list-reset {
  list-style: none;
}

/* Header */

.main-header {
  background-color: rgba(0, 0, 0, 0.0001);
  background-image: url('../img/top-background.png');
}

.main-header-wrapper {
  background-color: var(--dark-blue);
}

.main-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
  height: auto;
  display: block;
}

.main-logo:active {
  background-color: var(--error)
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  border: none;
  color: var(--white);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--button-red-hover);
}

.button:active {
  background-color: var(--button-red-active);
}

.button--order {
  background-color: var(--basic-green);
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
}

.button--order:hover {
  background-color: var(--success);
}

.shopping-item--bookmarks:active {
  background-color: var(--bookmarks);
}

.main-header-wrapper a:active {
  color: var(--gray);
}

.search-area {
  background-color: var(--dark-blue);
  outline: 0;
  outline-offset: 0;
  border: none;
}

.search-area::-webkit-input-placeholder {
  color: var(--white);
}

.search-area::-moz-placeholder {
  color: var(--white);
}

.search-area:-moz-placeholder {
  color: var(--white);
}

.search-area:-ms-input-placeholder {
  color: var(--white);
}

.search-area:focus {
  background-color: var(--white);
}

.header-info {
  font-size: 21px;
  line-height: 21px;
  font-weight: inherit;
}

.shop-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.phone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
}

.button--header {
  color: var(--dark);
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
}

.button--header:hover {
  color: var(--basic-red);
  background-color: var(--white);
}

.button--header:active {
  color: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-title);
}

.navigation-list a:hover {
  background-color: var(--dark-blue)
}

.navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--dark-blue);
}

/* Opportunities */

.opportunities-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.opportunities--button {
  background-color: rgba(255, 255, 255, 0.3);
}

.opportunities--button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.opportunities--button:active {
  background-color: rgba(169, 169, 169, 0.3);
  ;
}

.advantages--material {
  background-color: var(--special-ylellow);
}

.advantages--instruments {
  background-color: var(--special-blue);
}

.advantages--techincs {
  background-color: var(--special-lilac);
}

.advantages--discounts {
  background-color: var(--special-greenlight);
}

.advantages--delivery {
  background-color: var(--special-dark-yellow);
}

.advantages--perforators {
  background-color: var(--basic-background);
  background: url(../img/perforator.jpg) no-repeat;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.advantages--perforators p,
.advantages--perforators a {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* Products */

.products-wrapper,
.manufactures-wrapper {
  background-color: var(--summer-sky);
}

.title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-title);
}

.product-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.product-price {
  background-color: var(--basic-red);
}

.buy--button {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
}

.buy--button:hover {
  background-color: #5FBB2D;
}

.buy--button:active {
  background-color: #518534;
}

.bookmarks--button {
  background: none;
  color: var(--basic-title);
  border: 3px solid #63A63E;
}

.bookmarks--button:hover {
  border: 3px solid #32425C;
  background: none;
}

.bookmarks--button:active {
  opacity: 0.5;
}

/* Services */

.wrap {
  background-color: var(--basic-background);
}

.wrap p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark);
}

.title--dark {
  color: var(--dark);
}

.info-list {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.info-list li {
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  background-color: var(--basic-title);
  cursor: pointer;
}

.info-list li:hover {
  background-color: var(--dark-blue);
}

.info-list li:active {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--basic-title);
  ;
}

.info-list .clicked {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px var(--white);
  color: var(--basic-title);
  ;
}

.additional-information p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark);
}

.companies-list li {
  color: var(--dark);
}

/* Footer  */

.upper-part {
  background-color: var(--basic-title);
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav-link--yellow,
.link-yellow {
  color: var(--special-yellowlight);
}

.link-yellow:active {
  color: var(--basic-red);
}

.link-yellow:hover {
  text-decoration: underline;
}

.down-part {
  background-color: var(--dark-blue);
  font-size: 16px;
  line-height: 18px;
}

/* Catalog-header */

.personal-account-user {
  font-size: 21px;
  line-height: 21px;
  color: var(--dark);
  display: block;
  background-color: var(--white);
  padding: 12px 57px 12px 56px;
  box-sizing: border-box;
  width: 299px;
}

.personal-account-user:active {
  color: var(--basic-greylight);
}

.personal-data-item {
  font-size: 16px;
  line-height: 18p;
  color: var(--basic-title);
}

.personal-data-item:hover {
  color: var(--basic-red);
}

.personal-data-item:active {
  color: var(--basic-greylight);
}

.basket {
  background-color: var(--basic-red);
}

/* Breadcrumbs-catalog, sorting */

.breadcrumbs a,
.filter-title,
.sorting,
.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--dark);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filters-wrapper,
.price-wrapper,
.sorting {
  background-color: var(--light-pink);
}

.sorting h3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

button,
button:active {
  background: none;
  border: none;
  outline: none
}

.sorting-item button {
  color: var(--basic-greylight);
  text-transform: uppercase;
}


.sorting-item--current button {
  color: var(--basic-red);
}

.sorting-item button:hover {
  color: var(--dark);
}

.sorting-item button:active {
  color: var(--basic-red);
}

/* Filter , pagination  */

.filters {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark);
}

.legend-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.button--filter,
.pagination-item {
  background-color: var(--white);
  border: 1px solid #E5E5E5;
  color: var(--dark);
  text-transform: uppercase;
}

.button--filter:hover {
  border: 1px solid var(--basic-greylight);
  background-color: var(--white);
}

.button--filter:active {
  border: 1px solid var(--basic-red);
  background-color: var(--white);
}

.pagination-item-current {
  background-color: var(--basic-red);
  color: var(--white);
}

.pagination-item:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-item:active {
  border: 1px solid var(--basic-red);
}

/* Perforators  */

.perforators-info {
  background-image: url('../img/top-background.png');
}

.perforators-info h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.perforators-info p {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--dark);
  font-size: 13px;
  line-height: 24px;
}
