:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #fff;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --light-grey: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
  --special-dark-yellow: #FFC047;
  --basic-title: #32425C;
  --dark-blue: #293449;
  --summer-sky: #F9F5F0;
  --bookmarks: #161D29;
  --button-red-hover: #CA2C37;
  --button-red-active: #BA2732;
  --dark: #000;
  --gray: rgba(255, 255, 255, 0.5);
  --button-header: rgba(0, 0, 0, 0.0001);
  --light-pink: #F7F3EC;
}

.page {
  box-sizing: border-box;
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--white);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 940px;
}



/* Header */

.main-header {
  background-image: url('../img/top-background.png');
}

.main-header-wrapper {
  background-color: var(--dark-blue);
}

.container--header {
  display: grid;
  grid-template-columns: 220px 270px 450px;
  height: 42px;
  margin-bottom: 40px;
}

.logo {
  height: 47px;
  width: 220px;
}


.main-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding: 13px 57px 10px 57px;
  display: block;
}

.main-logo:active {
  background-color: var(--error)
}

.button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  width: 144px;
  padding: 11px 24px 9px 24px;
}

.button:hover {
  background-color: var(--button-red-hover);
}

.button:active {
  background-color: var(--button-red-active);
}

.button--order {
  background-color: var(--basic-green);
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  width: 150px;
  padding-right: 16px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-top: 13px;
}

.button--order:hover {
  background-color: var(--success);
}

.shopping-item--bookmarks {
  margin-left: 43px;
  /* display: block;
  padding-bottom: 9px;
  padding-top: 9px;
  padding-left: 43px;
  padding-right: 24px; */
}


.shopping-item--bookmarks:active {
  background-color: var(--bookmarks);
}

.main-header-wrapper a:active {
  color: var(--gray);
}

.form-search {
  align-self: center;
  margin-left: 42px;
}

.search-area {
  background-color: var(--dark-blue);
  outline: 0;
  outline-offset: 0;
  border: none;
}

.search-area::-webkit-input-placeholder {
  color: var(--white);
}

.search-area::-moz-placeholder {
  color: var(--white);
}

.search-area:-moz-placeholder {
  color: var(--white);
}

.search-area:-ms-input-placeholder {
  color: var(--white);
}

.search-area:focus {
  background-color: var(--white);
}

.shopping-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-info {
  font-size: 21px;
  line-height: 21px;
  font-weight: inherit;
  display: grid;
  grid-template-columns: 228px 1fr 281px;
  align-items: start;
}

.shop-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  padding: 0;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 45px;
}

.phone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--white);
  justify-self: center;
  width: 151px;
  padding: 7px 42px 8px 71px;
}

.flex-wrap {
  display: flex;
}

.button--header {
  color: var(--dark);
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  padding: 12px 24px 12px 23px;
  width: 150px;
}

.button--in {
  margin-right: 10px;
  padding-left: 45px;
  padding-right: 27px;
  width: min-content;
}

.button--header:hover {
  color: var(--basic-red);
  background-color: var(--white);
}

.button--header:active {
  color: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-title);
  box-shadow: inset 0px -5px 0px #293449;
  margin-bottom: 80px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 25px;
}
.navigation-item {
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 28px;
}

.navigation-list li:hover {
  background-color: var(--dark-blue)
}

.navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--dark-blue);
}

/* Opportunities */

.opportunities {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  margin-top: 15px;
}

.hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

.opportunities h2 {
  grid-column: 1 / -1;
}

.opportunities-info {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 14px;
}

.opportunities--button {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 135px;
  text-align: center;
}

.opportunities--button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.opportunities--button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.advantages {
  padding: 20px 23px 21px 23px;
}

.advantages--material {
  background-color: var(--special-ylellow);
}

.advantages--instruments {
  background-color: var(--special-blue);
}

.advantages--techincs {
  background-color: var(--special-lilac);
}

.advantages--discounts {
  background-color: var(--special-greenlight);
  grid-column: -2 / -1;
}

.advantages--delivery {
  background-color: var(--special-dark-yellow);
  grid-column: -2 / -1;
}

.advantages--perforators {
  background-color: var(--basic-greylight);
  background: url(../img/perforator.jpg) no-repeat;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  grid-column: 1 / -2;
  grid-row: 3 / 5;
}

.advantages--perforators h3 {
  padding: 0;
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}

.advantages--perforators p {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}


.button--catalog {
  font-weight: normal;
  display: block;
  text-align: center;
  margin-top: 113px;
}

/* Products */

.popular-products {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
  margin-top: 60px;
  margin-bottom: 70px;
}

.products-wrapper,
.manufactures-wrapper {
  background-color: var(--summer-sky);
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.button--title {
  margin-right: 14px;
  text-align: center;
}

.manufactures {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}

.manufactures-list {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  margin-bottom: 70px;
}

.title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-title);
  margin: 0;
  padding: 0;
}

.product-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}



.hidden-button {
  position: absolute;
  top: 38px;
  left: 41px;
  opacity: 0;
  pointer-events: none;
}

.product-item:hover .hidden-button {
  opacity: 1;
  pointer-events: auto;
}

.product-item:hover .catalog-image {
  opacity: 0;
}

.product-item img {
  max-width: 184px;
  max-height: 164px;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
  color: #000;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  text-align: center;
}

.product-price {
  background-color: var(--basic-red);
  width: 122px;
  padding: 0;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 21px;
  display: block;
  border-radius: 5px;
}

.buy--button,
.bookmarks--button {
  width: 135px;
  height: 38px;
}

.buy--button {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
}

.buy--button:hover {
  background-color: #5FBB2D;
}

.buy--button:active {
  background-color: #518534;
}

.bookmarks--button {
  background: none;
  color: var(--basic-title);
  border: 3px solid #63A63E;
  padding-bottom: 6px;
  padding-top: 8px;
  margin-top: 10px;
  height: auto;
}

.bookmarks--button:hover {
  border: 3px solid #32425C;
  background: none;
}

.bookmarks--button:active {
  opacity: 0.5;
}

.manufactures-item a {
  width: 218px;
  height: 145px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Services */

.services {
  padding-bottom: 99px;
}

.additional-services {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
}

.description {
  grid-column: -2 / -1;
  align-self: start;
}

.wrap {
  background-color: var(--basic-background);
}

.wrap p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark);
}

.title--dark {
  color: var(--dark);
  padding-left: 0px;
  padding-top: 64px;
  padding-bottom: 0;
  margin-bottom: 25px;
  ;
}

.services p {
  margin-top: 0;
  margin-bottom: 70px;
}

.description p {
  margin-bottom: 0;
}

.info-list {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.info-list li {
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  background-color: var(--basic-title);
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
  padding-top: 14px;
  padding-left: 22px;
}

.title--description {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.info-list li:hover {
  background-color: var(--dark-blue);
}

.info-list li:active {
  background-color: var(--white);
  box-shadow: 0px 1px 0px var(--white);
  color: var(--basic-title);
}

.info-list .clicked {
  background: #FFFFFF;
  box-shadow: 0px 1px 0px var(--white);
  color: var(--basic-title);
}

.info-list .clicked:hover {
  background: #FFFFFF;
}

.additional-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 70px;
  padding-bottom: 70px;
}

.title--add {
  padding-top: 0;
}

.tecnhomart-info p {
  margin-bottom: 0;
}

.tecnhomart-info p:first-of-type {
  margin-bottom: 39px;
}

.contacts {
  width: 300px;
  justify-self: end;
}

.additional-information p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark);
  margin-top: 0;
}

.companies-list li {
  color: var(--dark);
  margin-bottom: 12px;
  padding-left: 37px;
}

.companies-list li:last-child {
  margin-bottom: 20px;
}



.contacts p {
  margin-bottom: 32px;
}

.contacts .button {
  width: 300px;
  display: block;
  margin-top: 23px;
  text-align: center;
}

/* Footer  */

.upper-part .logo {
  grid-row: 1 / 2;
  grid-column: 1 /2;
}

.footer--logo {
  padding-top: 18px;
  padding-bottom: 22px;
  padding-left: 41px;
  margin-bottom: 22px;

}

.main-footer {
  background-color: var(--basic-title);
}

.upper-part {
  display: grid;
  grid-template-columns: 321px 1fr;
  padding-bottom: 54px;
}

.upper-part address {
  grid-row: 1 / 2;
  grid-column: 1 /2;
  padding-top: 90px;
}

.footer-nav {
  grid-column: 2 / -1;
  display: flex;
  flex-wrap: wrap;
  padding-top: 37px;
  margin-left: 70px;
}

.footer-nav li {
  margin-right: 58px;
  margin-bottom: 34px;
}

.footer-nav li:nth-child(6) {
  margin-left: 22px;
}

.footer-nav li:nth-child(5),
.footer-nav li:last-child {
  margin-right: 0;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-nav-link--yellow,
.link-yellow {
  color: var(--special-yellowlight);
}

.link-yellow:active {
  color: var(--basic-red);
}

.link-yellow:hover {
  text-decoration: underline;
}

.down-part {
  background-color: var(--dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.container-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.container-footer p:first-child {
  max-width: 227px;
}

.container-footer p {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 34px;
}

.container-footer p:nth-of-type(2) {
  max-width: 137px;
  justify-self: start;
  grid-column: -2 / -1;
  grid-row: 1 / 2;
}

.container-footer p:last-child {
  justify-self: end;
  max-width: 98px;
  grid-column: -2 / -1;
  grid-row: 1 / 2;
  margin-left: 51px;
}

.social {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 240px;
}

/* Catalog-header */

.header--catalog {
  display: grid;
  grid-template-columns: 228px repeat(2, 1fr);
}

.phone--catalog {
  margin-left: 92px;
}

.personal-account {
  justify-self: end;
}

.personal-account-user {
  font-size: 21px;
  line-height: 21px;
  color: var(--dark);
  display: block;
  background-color: var(--white);
  padding: 12px 57px 12px 56px;
  box-sizing: border-box;
  width: 299px;
}

.personal-account-user:active {
  color: var(--basic-greylight);
}

.personal-data-list {
  display: flex;
  padding-left: 44px;
}

.personal-data-list li {
  margin-top: 7px;
  margin-right: 31px;
}

.personal-data-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-title);
}

.personal-data-item:hover {
  color: var(--basic-red);
}

.personal-data-item:active {
  color: var(--basic-greylight);
}


.shopping-item--basket {
   background-color: var(--basic-red);
  padding-left: 35px;
  padding-right: 21px;
  margin-left: 38px;
  padding-bottom: 9px;
  padding-top: 10px;
  display: block;
}


/* Breadcrumbs-catalog, sorting */

.catalog--container {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  grid-gap: 20px;
  padding-top: 21px;
  padding-bottom: 59px;
}

.breadcrumbs {
  display: flex;
  position: relative;
  padding-left: 56px;
}

.breadcrumbs li:not(:first-child) {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs--main {
  position: absolute;
  margin-right: 0;
  opacity: 0;
  pointer-events: none;
}

.title-wrapper {
  background-color: var(--basic-background);
  grid-column: 1/ -1;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.title--catalog {
  display: block;
  padding: 29px 0 30px 29px;
}

.breadcrumbs a,
.filter-title,
.sorting,
.pagination-item a {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--dark);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-title,
.sorting {
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filters-wrapper,
.price-wrapper,
.sorting {
  background-color: var(--light-pink);
}

.sorting {
  margin-bottom: 28px;
  display: flex;
  padding-left: 18px;
}

.sorting h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 140px;
}

.main-info {
  padding-top: 13px;
}

button,
button:active {
  background: none;
  border: none;
  outline: none
}

.sorting-list {
  display: flex;
  align-items: center;
}

.sorting-item {
  margin-right: 65px;
}

.sorting-item button {
  color: var(--basic-greylight);
  text-transform: uppercase;
  border-bottom: 1px dashed var(--basic-red);
}

.sorting-item--current button {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-item button:hover {
  color: var(--dark);
  text-decoration: none;
  border: none;
}

.sorting-item button:active {
  color: var(--basic-red);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Filter , pagination  */

.filters {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  border: none;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 46px;
}

.filter-option {
  margin-bottom: 21px;
}

.filter-option:last-child,
.filter-option:nth-child(5) {
  margin-bottom: 0;
}

.legend-title {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 19px;
}

.legend-title:first-child {
  margin-bottom: 10px;
}

.button--filter,
.pagination-item {
  background-color: var(--white);
  border: 1px solid #E5E5E5;
  color: var(--dark);
  text-transform: uppercase;
}

.button--filter {
  width: 219px;
}

.button--filter:hover {
  border: 1px solid var(--basic-greylight);
  background-color: var(--white);
}

.button--filter:active {
  border: 1px solid var(--basic-red);
  background-color: var(--white);
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 48px;
}

.pagination-item {
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 2px;
}

.pagination-item-current {
  background-color: var(--basic-red);
  color: var(--white);
}

.pagination-item:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-item:active {
  border: 1px solid var(--basic-red);
}

/* Perforators  */

.perforators-info {
  background-image: url('../img/top-background.png');
  grid-column: 1 / -1;
  padding-bottom: 68px;
}

.perforators-info h2 {
  font-weight: 400;
  text-transform: uppercase;
}

.perforators-info p {
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--dark);
  font-size: 13px;
  line-height: 24px;
}
